---
layout: layout.njk
title: Drawing the Ground and Implementing the Pipes
createdAt: ??/08/2026
---

<h2>{{ title }}</h2>

<p>Demo of this chapter done:</p>

<video src="/assets/flappy_bird_course/videos/some.mp4" muted autoplay loop></video>

<p>If you haven't read the previous chapter yet: <a href="/posts/flappy_bird_course/part2">Loading a Texture and Drawing the Background (part 2)</a></p>

<hr/>
 
<h4>Summary:</h4>

<hr/>