---
layout: layout.njk
title: Hello, World!
createdAt: 22/06/2026
---

<h2>{{ title }}</h2>
<p>
    Just as a simple
    <code>"hello, world"</code>
    is for any first program,
            this posts is for this blog.
</p>