<header class="header">
    <h1><a href="/">Lyiar</a></h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/posts/">Posts</a></li>
            <li><a href="/aboutme">About Me</a></li>
        </ul>
      </table>
    </nav>
</header>