:root {
  font-family: "Courier New", Courier, monospace;
  scroll-padding-top: 2rem;
}

body {
  max-width: 960px;
  margin: auto;
  padding: 1rem;
  background: #EEEEEE;
  line-height: 1.4;
}

a {
  color: #e7001f;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav > ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    column-gap: 1rem;
}

nav > ul > li > a {
    padding: 0.5rem;
}

.header {
  margin-bottom: 2rem;
}

.footer {
  margin-top: 2rem;
}

table {
  border-collapse: collapse;
}

table tr th:nth-of-type(0) {
  padding-left: 0;
}

table tr th:nth-of-type(2) {
  padding-inline: 1rem;
}

code, pre {
  font-size: 1rem;
  background: #DDDDDD;
  padding: 0.2rem 0.4rem;
}

pre {
  overflow-x: scroll;
  padding: 0.8rem 1.2rem;
  border: 1px solid #AAAAAA;
}

img, video {
  max-width: 100%;
}

.msg {
  background: #EFEFEF;
  padding: 0.5rem;
  padding-left: 1rem;
  position: relative;
}

.msg::before {
  content:"";
  display: flex;
  position: absolute;
  background: #e70059;
  width: 0.2rem;
  height: 100%;
  left: 0;
  top: 0;
}

img, video {
  outline: 3px solid mediumslateblue;
}