---
layout: layout.njk
title: About Me
---

<h2>About me?</h2>

<p>My name is Liarley, I'm brazilian and I'm 23 old.</p>
<p>
    I program for around 5 or 6 years (until 2026 at least) and most of the
    things I did is about programming.
</p>
<p>
    I tried to learn art, but unfortunately I am really lazy about this so I
    usually just appreciate whose that create them like high resolution
    drawing, pixel art and modelling.
</p>
<p>
    I'm a lover of
    <a href="https://www.half-life.com/en/halflife/25th" target="_blank">Half-Life</a>,
    <a href="https://www.klei.com/games/dont-starve" target="_blank">Don't Starve</a>,
    <a href="https://mirohaver.itch.io/fear-hunger" target="_blank">Fear and Hunger</a>, Mario and a few other titles.
</p>
<p>
    I'm usually listening to dubstep, future garage, deep house, jazz and
    other variations of electronic music.
</p>
<p>Want to say hello? Here my socials:</p>
<ul>
    <li>
        <a href="https://x.com/lyiar_u" target="_blank">@lyiar_u (x)</a>
    </li>
    <li>
        <p>lyiar (discord)</p>
    </li>
    <li>
        <a href="https://www.youtube.com/@LyiarDev" target="_blank">lyiardev (youtube)</a>
    </li>
</ul>